<div class="d-flex">
  <div id="map-sticky" style="min-width: 60%; height: 44rem;"
      data-controller="index-map"
      data-index-map-markers-value="<%= @markers.to_json %>"
      data-index-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="mt-4" style="min-width: 40%">
    <div>
      <h1 class="text-center title-font mb-3"> <%= current_user.username %> map <i class="fa-regular fa-compass"></i></h1>

    </div>
    <div class="row justify-content-center" style="width: 100%">
      <% @posts.each do |post|  %>
        <div class="col-5 cityid_<%= post.city_id %> hide_city">
          <div class="d-flex justify-content-center">
            <div class="card rounded">
              <div class="p-2" >
                <% if post.photos.present? %>
                  <% post.photos.each do |photo| %>
                    <%= image_tag(url_for(photo), class: "card-img") %>
                  <% end %>
                <% else %>
                  <%= image_tag "/assets/sample_img.jpg", class: "card-img" %>
                <% end %>
              </div>
              <div class="card-infos">
                <%= link_to post_path(post) do %>
                  <h2 class="mb-1"><%= post.title %></h2>
                <% end %>
                <h3 class="mb-1 category"><%= post.category %></h3>
              </div>
            </div>
          </div>
        </div>
      <% end %>
        <div class="mt-4 mb-4 text-center">
          <small><%= link_to "Show all", profile_path, class: "btn-peach-outline" %></small>
        </div>
      </div>
    </div>
  </div>
</div>

