
<!--this is index page cards and map-->
<div style="width: 100%; height: 400px;"
  data-controller="index-map"
  data-index-map-markers-value="<%= @markers.to_json %>"
  data-index-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container mt-3 mb-5">
  <div class="row justify-content-center">
    <% @posts.each do |post|  %>
      <div class="col-3 cityid_<%= post.city_id %> hide_city">
        <div class="d-flex justify-content-center">
          <div class="card rounded" data-bs-toggle="modal" data-bs-target="#modal_<%= dom_id(post) %>">
            <div class="p-2" style="height: 330px">
              <% if post.photos.present? %>
                <% post.photos.each do |photo| %>
                  <%= image_tag(url_for(photo), class: "card-image") %>
                <% end %>
              <% else %>
                <%= image_tag "/assets/sample_img.jpg", class: "card-image" %>
              <% end %>
              <div class="card-infos mt-3">
                <h2 class="mb-1 title-btn" data-bs-toggle="modal" data-bs-target="#modal_<%= dom_id(post) %>"><%= post.title %></h2>
                <h3 class="mb-1 category"><%= post.category %></h3>
                <h4 class="mb-3"><%= post.address %></h4>
                <% unless post.user == current_user %>
                  <%= render(partial: "shared/bookmark", locals: {post: post}) %>
                <% end %>
                  <div id="avatarpost">
                  <%= render(partial: "shared/avatar", locals: {post: post}) %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Modal effect -->
      <div class="modal fade" id="modal_<%= dom_id(post) %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-body">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <!--card detail(show page) -->
            <div class="d-flex justify-content-center mt-3">
              <div class="card-with-map rounded">
                <div class="p-2" >
                  <% if post.photos.present? %>
                    <% post.photos.each do |photo| %>
                      <%= image_tag(url_for(photo), class: "modal-image") %>
                    <% end %>
                    <% else %>
                      <%= image_tag "/assets/sample_img.jpg", class: "modal-image" %>
                    <% end %>
                
                  <div class="card-infos mt-3 d-flex justify-content-between">
                    <div>
                      <h2 class="mb-1"><%= post.title %></h2>
                      <h3 class="mb-2 category"><%= post.category%></h3>
                      <h4 class="mb-3"><%= post.address %></h4>
                      <p><%= post.description %></p>
                      
                    </div>
                    <div>
                        <div class="m-2">
                          <%= render 'shared/avatar', post: post %>
                        </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="mt-4 mb-4 text-center">
  <small><%= link_to "Show all", posts_path, class: "btn-peach-outline" %></small>
</div>
</div>
